<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
@*    <script data-main="~/js/app/vendor/reactConfig" src="~/js/app/vendor/require.js"></script>*@
    <script src="~/js/app/vendor/react.js"></script>
    <script src="~/js/app/vendor/react-dom.js"></script>
    <script src="~/js/app/vendor/babel.min.js"></script>
    <script src="~/js/app/vendor/react-bootstrap.js"></script>
    <script src="~/js/app/vendor/jquery-3.2.1.js"></script>
    <script src="~/js/app/vendor/redux.min.js"></script>
    <script src="~/js/app/FormGenerator/common.js"></script>
    <script src="~/js/app/FormGenerator/compiled.js"></script>
    <script src="~/js/app/vendor/react-redux.js"></script>

    <environment names="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
    </environment>
</head>
<body>
    <div id="container" class="container body-content">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
